//Imports
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@200;300;400&family=Yaldevi:wght@300;400;500&display=swap');
@import "variables";
@import "mixins";
@import "responsive";




/*Logo, navbar*/
.header {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    justify-items: center;
    background-size: cover;
    background-color: $color4;
    img{
        
        opacity: 0.7; 
        width: 100%;
        height: 100%;
    }


    /*Menu principal*/
    .logoMenu{
       
        align-items: center;
        margin-top: 25px;
        
        
    }
    .navbar{
        visibility: hidden ;
    }
    
    
    /*Navbar*/
    .navbar{
        nav{
            .bolsaCarrito{
                color: $color2;
                &:hover{
                    color: $color3;
                }

            }
            
            a{
                outline: none;
                color: $color2;
                text-decoration: none;
                font-size: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                &:hover{
                    color: $color3;
                }
            }

        }
    }
    
}
.sticky{
    padding: 5px 100px;
    background-color: $color4;
    opacity: none;
    display: flex;
    flex-direction: row;
    .navbar{
        visibility: visible;
    }
    .logoMenu{
        img{
            width: 25%;
            height: 25%;
        }
        padding-bottom: 20px;
    }

}
//Navbar page Administrador
.navbarAdministrador{
    
    color: $color2;
    a{
        text-decoration: none;
        color: $color2;
        text-align: left;
        font-size: 2rem;
        font-family:  $font-family-1;

    }
}
/* Frase slogan */
.slogan{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: $font-family-1;
    font-size: 5rem;
    color: $color1;
    margin: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    #retype{
        color: $color4;
        border-right: solid 0.1em #fff;
    }
}

/*Formulario de Administradores*/

.overlay-2 {
    background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay-2 .active {
	visibility: visible;
}

.usuario{
    background: $color4;
    color: $color2;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
    padding: 20px;
	text-align: center;
	width: 600px;
    transition: .3s ease all;
	transform: scale(0.7);
    button{
        a{
            text-decoration: none;
            color: #000; 

        }
        padding: 0 20px;
	    height: 40px;
	    line-height: 40px;
        text-decoration: none;
	    border: none;
        &:hover{
            background-color: $color3;
        }
	
	    background: $color2;
	    border-radius: 3px;
	    font-size: 16px;
	    cursor: pointer;
	    transition: .3s ease all;

    }
    .btn-cerrar-usuario{
        font-size: 30px;
        text-decoration: none;
        outline: none;
        line-height: 16px;
        margin: 15px;
        padding-bottom: 10px;
        color: #fff;
        display: block;
        text-align: right;
    }
}

.usuario .btn-cerrar-usuario:hover {
	color: $color3;
}

.usuario form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}
.usuario form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #000;
	background: $color2;
	border-radius: 3px;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}
.usuario form .btn-submit:hover {
	background: rgba(198, 195, 199, 0.9);
}


/* Animaciones formulario administrador*/

.usuario.active {	transform: scale(1); opacity: 1; }
.usaurio.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}

/*Galeria de productos*/


.productos{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    width: 100%; 
    height: 100%;
    color: $color4;
    margin-top: 30px;
    margin-bottom: 100px;
    font-family: $font-family-3;
    
    .foto{
        text-align: center;
        margin: 15px;
        h2{
            font-size: 2rem;
            font-family: $font-family-1;
        }
        
        img{
            border: solid 5px $color3;
            height: 400px;
            width: 400px;
        }
    }
    .hiddenAlmohadones{
        display: none;
        
        

    }
    .hiddenVelas{
        display: none;
        

    }
    .hiddenAccesorios{
        display: none;

    }
    .productBox{
        width: 50%;
        height: 50%;
        margin: 20px;
        padding: 10px;
        display: flex;
        justify-content: center;
        
    }
    
}


.productos .lightbox img {
    width: 100%;
    margin-bottom: 15px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    
}


.productos .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.productos img {
    border-radius: 15px;
}

/*Cards de productos*/
.activeCards{
    visibility: hidden;
}

.carrritoBox{
    visibility: visible;
}



/*Newsletter*/
.newsletter {
    display: flex;
    align-content: center;
    align-items: center;
    font-family: $font-family-1;
    background-color: $color4;
    color: $color2;
    justify-content: center;
    padding: 70px;
    h3{
        font-size: 4rem;
    }
    .envioNewsletter{
        margin: 30px;
        font-size: 1.5rem;
        .sendBtnNewsletter{
            opacity: 0.5;
            border-radius: 30px;
            padding: 15px;
        }
        input{
            text-align: center;
            width: 700px;
            border-radius: 30px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    
}
/*Img products*/
.fabricaProductos{
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    .contenedorProductos{
        display: flex;
        justify-content: center;
        flex-direction: column;
        .imgProduct{
            display: flex;
                width: 200px;
                height: 200px;
            
        }
    
    }
}

/*Footer*/
.footer{
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-size: 1.5rem;
    font-family: $font-family-2;
    background-color: $color1;
    
    .ico{
        color: #fff;
    }
    /*Bot칩n para loguear al administrador*/
    .button__registrarme {
        margin: 30px; 
        padding: 20px;
        font-family: $font-family-2;  
        button{
            color: $color4;
            background-color: $color1;
            padding: 15px;
            border-radius: 50% 20% / 10% 40%;
            border: $color3 solid 2px;
            a{
                outline: none;
                text-decoration: none;
            }
            &:hover {
                color: $color4;
                background-color: $color2;
                border: $color2 solid 2px;
                
            }
            
        }
    }
}
    


//Secci칩n Administrador

/*CSS de f치brica de productos*/
.ProductsFactory{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 10px;
    .NewProductsForm{
        margin: 5px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        input{
            margin: 5px;
            padding: 10px;
            text-align: center;

        }
    }
}
.newProducts{
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 10px;
}
#productsPrint{
    display: flex;
    flex-direction: column;

}

/*CSS de f치brica de adminitradores*/
.adminitratorsFactory{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    .formulario{
        display: flex;
        padding: 10px;
        margin: 10px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        select{
            margin: 5px;
            padding: 10px;
            text-align: center;
        }
        input{
            margin: 5px;
            padding: 10px;
            text-align: center;

        }
    }
}
 
