
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@200;300;400&family=Yaldevi:wght@300;400;500&display=swap');
@import "variables";
@import "mixins";




// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .productos{
        display: grid; 
        grid-auto-flow: row dense; 
        grid-auto-columns: 1fr;
        align-content: center;
        align-items: center; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 20px 20px; 
        grid-template-areas: 
          "foto foto foto"
          "foto foto foto"; 
        width: 100%; 
        height: 100%;
        color: $color4;
        .foto{
            
            img{
                border: solid 5px $color3;
                height: 400px;
                width: 400px;
            }
        }
        .hiddenAlmohadones{
            display: none;
    
        }
        .hiddenVelas{
            display: none;
    
        }
        .hiddenAccesorios{
            display: none;
    
        }
    }
    
    .productos .lightbox img {
        width: 100%;
        margin-bottom: 15px;
        transition: 0.2s ease-in-out;
        box-shadow: 0 2px 3px rgba(0,0,0,0.2);
        
    }
    
    
    .productos .lightbox img:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 15px rgba(0,0,0,0.3);
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    
    .productos img {
        border-radius: 15px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    /*Header*/
    .header .navbar nav {
        display: flex;
        flex-direction: row;
        a{
            margin: 20px;
        }
        

    }
    /*Galeria de productos con grid*/
    body .productos{
        display: grid; 
        grid-auto-flow: row dense; 
        grid-auto-columns: 1fr;
        align-content: center;
        align-items: center; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 20px 20px; 
        grid-template-areas: 
          "foto foto foto"
          "foto foto foto"; 
        width: 100%; 
        height: 100%;
        color: $color4;
        .foto{
            
            img{
                border: solid 5px $color3;
                height: 400px;
                width: 400px;
            }
        }
        .hiddenAlmohadones{
            display: none;
    
        }
        .hiddenVelas{
            display: none;
    
        }
        .hiddenAccesorios{
            display: none;
    
        }
    }
    
    .productos .lightbox img {
        width: 100%;
        margin-bottom: 15px;
        transition: 0.2s ease-in-out;
        box-shadow: 0 2px 3px rgba(0,0,0,0.2);
        
    }
    
    
    .productos .lightbox img:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 15px rgba(0,0,0,0.3);
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    
    .productos img {
        border-radius: 15px;
    }
    /*CSS de fábrica de productos*/
    body .ProductsFactory{
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-items: center;
        justify-content: center;
        margin: 5px;
        padding: 10px;
        .NewProductsForm{
            margin: 5px;
            padding: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            input{
                margin: 5px;
                padding: 10px;
                text-align: center;

            }
        }
    }
    .newProducts{
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 10px;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .productos{
        display: grid; 
        grid-auto-flow: row dense; 
        grid-auto-columns: 1fr;
        align-content: center;
        align-items: center; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 20px 20px; 
        grid-template-areas: 
          "foto foto foto"
          "foto foto foto"; 
        width: 100%; 
        height: 100%;
        color: $color4;
        .foto{
            
            img{
                border: solid 5px $color3;
                height: 400px;
                width: 400px;
            }
        }
        .hiddenAlmohadones{
            display: none;
    
        }
        .hiddenVelas{
            display: none;
    
        }
        .hiddenAccesorios{
            display: none;
    
        }
    }
    
    .productos .lightbox img {
        width: 100%;
        margin-bottom: 15px;
        transition: 0.2s ease-in-out;
        box-shadow: 0 2px 3px rgba(0,0,0,0.2);
        
    }
    
    
    .productos .lightbox img:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 15px rgba(0,0,0,0.3);
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    
    .productos img {
        border-radius: 15px;
    }
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { }


/*Titulo y logo*/
.header {
    background-color: $color4;
    img{
        width: 30%;
        height: 30%;
    }
    .logoMenu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .menuFijo{
            a{
                outline: none;
                color: $color2;
                text-decoration: none;
                font-size: 1.5rem;
                padding: 10px;
                &:hover{
                    color: $color3;
                }
            }
        }
    }
    /*Título*/
    .slogan{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        font-family: $font-family-1;
        font-size: 3rem;
        color: $color1;
        margin: 25px;
        #retype{
            color: $color2;
            border-right: solid 0.1em #fff;
        }
    }
    /*Navbar*/
    .navbar{
        nav{
            
            a{
                outline: none;
                color: $color2;
                text-decoration: none;
                font-size: 2rem;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                &:hover{
                    color: $color3;
                }
            }

        }
    }
    /*Botón para loguear al administrador*/
    .button__registrarme {
        margin: 30px; 
        padding: 20px;  
        button{
            color: $color4;
            background-color: $color1;
            padding: 15px;
            border-radius: 25px;
            border: $color3 solid 2px;
            a{
                outline: none;
                text-decoration: none;
            }
            &:hover {
                color: $color4;
                background-color: $color2;
                border: $color2 solid 2px;
                
            }
            
        }
    }
}

/*Formulario de usuario*/

.overlay-2 {
    background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay-2 .active {
	visibility: visible;
}

.usuario{
    background: $color4;
    color: $color2;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
    padding: 20px;
	text-align: center;
	width: 600px;
    transition: .3s ease all;
	transform: scale(0.7);
    .btn-cerrar-usuario{
        font-size: 30px;
        text-decoration: none;
        outline: none;
        line-height: 16px;
        margin: 15px;
        padding-bottom: 10px;
        color: #fff;
        display: block;
        text-align: right;
    }
}

.usuario .btn-cerrar-usuario:hover {
	color: $color3;
}

.usuario form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}
.usuario form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #000;
	background: $color2;
	border-radius: 3px;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}
.usuario form .btn-submit:hover {
	background: rgba(198, 195, 199, 0.9);
}


/* Animaciones */

.usuario.active {	transform: scale(1); opacity: 1; }
.usaurio.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}

/*Galeria de productos*/
/*
.productos{
    display: flex;
    flex-direction: column; 
    /*grid-auto-flow: row dense; 
    grid-auto-columns: 1fr;
    align-content: center;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 20px 20px; 
    grid-template-areas: 
      "foto foto foto"
      "foto foto foto"; 
    width: 100%; 
    height: 100%;
    color: $color4;
    .foto{
        
        img{
            border: solid 5px $color3;
            height: 400px;
            width: 400px;
        }
    }
    .hiddenAlmohadones{
        display: none;

    }
    .hiddenVelas{
        display: none;

    }
    .hiddenAccesorios{
        display: none;

    }
}

.productos .lightbox img {
    width: 100%;
    margin-bottom: 15px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    
}


.productos .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.productos img {
    border-radius: 15px;
}*/

/*Newsletter*/
/*.newsletter {
    display: flex;
    align-content: center;
    align-items: center;
    background-color: $color4;
    color: $color2;
    justify-content: center;
}*/
/*Img products*/
/*.fabricaProductos{
    display: flex;
    flex-direction: column;

    .contenedorProductos{
        display: flex;
        justify-content: center;
        flex-direction: column;
        .imgProduct{
            display: flex;
                width: 200px;
                height: 200px;
            
        }
    
    }
}*/

/*Footer*/
/*.footer{
    display: flex;
    flex-direction: column;
}*/
 
