
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@200;300;400&family=Yaldevi:wght@300;400;500&display=swap');
@import "variables";





// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
     .header{
        background-image: none;
     }
    .productos{
        display: grid; 
        grid-auto-flow: row dense; 
        grid-auto-columns: 1fr;
        align-content: center;
        align-items: center; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 20px 20px; 
        grid-template-areas: 
          "foto foto foto"
          "foto foto foto"; 
        width: 100%; 
        height: 100%;
        color: $color4;
        .foto{
            
            img{
                border: solid 5px $color3;
                height: 400px;
                width: 400px;
            }
        }
        .hiddenAlmohadones{
            display: none;
    
        }
        .hiddenVelas{
            display: none;
    
        }
        .hiddenAccesorios{
            display: none;
    
        }
    }
    
    .productos .lightbox img {
        width: 100%;
        margin-bottom: 15px;
        transition: 0.2s ease-in-out;
        box-shadow: 0 2px 3px rgba(0,0,0,0.2);
        
    }
    
    
    .productos .lightbox img:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 15px rgba(0,0,0,0.3);
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    
    .productos img {
        border-radius: 15px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        min-height: 200vh;
    }
    
    /*Header*/
    header{
        .header{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: 0.6s;
            padding: 40px 100px;
            z-index: 1000000;
            background: none;
            
            .logoMenu{
                position: relative;
                
                img{
                    
                    width: 100%;
                    height: 100%;
                }
                
            }
            .navbar{
                visibility: hidden ;
            }
            .navbar nav{
                position: relative;
                transition: 0.6s;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                a{
                    position: relative;
                    margin: 0 15px;
                    transition: 0.6s;
                   
                }
            }
            
    
    
        }
        .sticky{
            padding: 5px 100px;
            background-color: $color4;
            opacity: none;
            display: flex;
            flex-direction: row;
            .navbar{
                visibility: visible;
            }
            .logoMenu{
                img{
                    width: 25%;
                    height: 25%;
                }
                padding-bottom: 20px;
            }

        }

    }
    .banner{
        background-image: url('../IMG/banner.jpg');
        background-size: cover;
        width: 100%;
        height: 100vh;


    }
    


   
    /*Galeria de productos con grid*/
    body .productos{
        display: grid; 
        grid-auto-flow: row dense; 
        grid-auto-columns: 1fr;
        align-content: center;
        align-items: center; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 20px 20px; 
        grid-template-areas: 
          "foto foto foto"
          "foto foto foto"; 
        width: 100%; 
        height: 100%;
        color: $color4;
        .foto{
            
            img{
                border: solid 5px $color3;
                height: 400px;
                width: 400px;
            }
        }
        .hiddenAlmohadones{
            display: none;
    
        }
        .hiddenVelas{
            display: none;
    
        }
        .hiddenAccesorios{
            display: none;
    
        }
    }
    
    .productos .lightbox img {
        width: 100%;
        margin-bottom: 15px;
        transition: 0.2s ease-in-out;
        box-shadow: 0 2px 3px rgba(0,0,0,0.2);
        
    }
    
    
    .productos .lightbox img:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 15px rgba(0,0,0,0.3);
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    
    .productos img {
        border-radius: 15px;
    }
    /*CSS de fábrica de productos*/
    body .ProductsFactory{
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-items: center;
        justify-content: center;
        margin: 5px;
        padding: 10px;
        .NewProductsForm{
            margin: 5px;
            padding: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            input{
                margin: 5px;
                padding: 10px;
                text-align: center;

            }
        }
    }
    .newProducts{
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 10px;
    }
    .footer footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .productos{
        display: grid; 
        grid-auto-flow: row dense; 
        grid-auto-columns: 1fr;
        align-content: center;
        align-items: center; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 20px 20px; 
        grid-template-areas: 
          "foto foto foto"
          "foto foto foto"; 
        width: 100%; 
        height: 100%;
        color: $color4;
        .foto{
            
            img{
                border: solid 5px $color3;
                height: 400px;
                width: 400px;
            }
        }
        .hiddenAlmohadones{
            display: none;
    
        }
        .hiddenVelas{
            display: none;
    
        }
        .hiddenAccesorios{
            display: none;
    
        }
    }
    
    .productos .lightbox img {
        width: 100%;
        margin-bottom: 15px;
        transition: 0.2s ease-in-out;
        box-shadow: 0 2px 3px rgba(0,0,0,0.2);
        
    }
    
    
    .productos .lightbox img:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 15px rgba(0,0,0,0.3);
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    
    .productos img {
        border-radius: 15px;
    }
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { }


/*Titulo y logo*/
.header {
    background-color: $color4;
    img{
        width: 30%;
        height: 30%;
    }
    .logoMenu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .menuFijo{
            a{
                outline: none;
                color: $color2;
                text-decoration: none;
                font-size: 1.5rem;
                padding: 10px;
                &:hover{
                    color: $color3;
                }
            }
        }
    }
    /*Título*/
    .slogan{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        font-family: $font-family-1;
        font-size: 3rem;
        color: $color1;
        margin: 25px;
        #retype{
            color: $color2;
            border-right: solid 0.1em #fff;
        }
    }
    /*Navbar*/
    .navbar{
        nav{
            
            a{
                outline: none;
                color: $color2;
                text-decoration: none;
                font-size: 2rem;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                &:hover{
                    color: $color3;
                }
            }

        }
    }
    /*Botón para loguear al administrador*/
    .button__registrarme {
        margin: 30px; 
        padding: 20px;  
        button{
            color: $color4;
            background-color: $color1;
            padding: 15px;
            border-radius: 25px;
            border: $color3 solid 2px;
            a{
                outline: none;
                text-decoration: none;
            }
            &:hover {
                color: $color4;
                background-color: $color2;
                border: $color2 solid 2px;
                
            }
            
        }
    }
}


