@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@200;300;400&family=Yaldevi:wght@300;400;500&display=swap');

$color1: #D9E4DD;
$color2:#FBF7F0;
$color3: #CDC9C3;
$color4:#555555;


$font-family-1: 'Nunito', sans-serif;
$font-family-2: 'Poppins', sans-serif;
$font-family-3: 'Yaldevi', sans-serif;
