@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@200;300;400&family=Yaldevi:wght@300;400;500&display=swap');
@import "responsive";
@import "variables";
@import "main";
